body {background:#11131b;color:#45494d;font-family: Verdana, Helvetica,Arial,Sans;}
    h1,h2,h3,h4,h5{font-family:Helvetica,Arial,Sans;}
    a{color:#70757b;}
    a:hover{color:#d4d7db!important;text-decoration: none!important;}    
    .user a{color:#7ac2f4;font-weight:bold;}
    .userkarma a{color:#d4d7db;font-weight:normal;}
    .userkarma{color:#d4d7db;}
    .content h1{color:#d4d7db;}
    .md .-text, .md p, .md pre > code, .md th, .md td, .md li, .usertext-edit textarea .-text, .usertext-edit textarea p, .usertext-edit textarea pre > code, .usertext-edit textarea th, .usertext-edit textarea td, .usertext-edit textarea li
    {font-size:13px;}
.usertext-edit textarea {background: #000a11;border: 1px solid #001b26;font-size: 12px;padding: 10px;color:#c8e8ff}
    ::selection { background: #333e47;color:#4e6c80; /* WebKit/Blink Browsers */ }
    ::-moz-selection { background: #333e47;color:#4e6c80 /* Gecko Browsers */ }
    
    /* organic/promoted */
    .organic-listing {border:#323B41 1px solid;border-radius:4px;background:#22262A!important;box-shadow:2px 2px 8px rgba(0,0,0,.25) inset;}
    .organic-listing .link, .organic-listing .link.compressed, .organic-listing .link.promotedlink {background:none;}
    .organic-listing .rank {display:none;}
    .organic-listing .help{color:#8EAFC6;}
    .organic-listing .nextprev .arrow.prev,
    .organic-listing .nextprev .arrow.next{opacity:.2}
    .trending-subreddits strong{color:#618463;}
    
    /*sr header */
    #sr-header-area{background:#1f2125;color:#70757b;border:none;padding:5px}
    .sr-bar a, .sr-bar a:visited{color:#abaeb2!important;}
    #sr-header-area a.RESShortcutsCurrentSub, #RESSubredditGroupDropdown .RESShortcutsCurrentSub a {color:#8eafc6!important;}
    .dropdown.srdrop .selected{background:#1f2125;color:#d4d7db;border-right:1px solid #363b42;}
    
    /* Header */
    #header {background:#363b42; border:none;}
	#header-img.default-header{background:url('%%logo%%') center center no-repeat;background-size:contain;height:50px;width:145px;}
	#header-bottom-left{background: url('%%generic-001%%') center -200px;}
    .pagename {display:none}
	.tabmenu {line-height: 50px}
    .tabmenu li a, abmenu li.selected a {border:none!important; border-radius:3px 3px 0 0; background:transparent;color:#888c91;font-size:12px}
    .tabmenu li.selected a {color:#272b30!important; background:#11131b;border-bottom:none;}
    
    /* Header bottom right */
    #header-bottom-right{background:#141719;}
    #userbarToggle{background:#272b30;border-color:#272b30;color:#888c91;}
    .user{color:#70757b;}
    
    /* misc */
    .sr-interest-bar {background-color:#7D9F9B;border:none;border-radius:4px;}
    .sr-interest-bar .subscribe {background:#7D9F7E;border:none;font-size:12px;}
    .action-form{background:#3e4145;border:#45494d 1px solid;color:#abaeb2;}
    /* .res-parents-down img{border-radius:50%;} */
    .panestack-title{border-bottom:#45494d 1px dotted;}
    #account-activity.instructions{color:#888c91;}
    #account-activity table,#account-activity table td {border:#45494d 1px solid;}
    #account-activity table td, #account-activity table th{padding:5px;}
    .server-seconds{background:#C2D0D9;color:#52616C;border:none;}
    .server-seconds em {color:#2C5A7B;}
    .server-seconds-public.bottom {color:#4e6c80;}
    
    /*==========================
     MAIN LINK LISTING 
    ===========================*/
    
    /* link listing */
    .link {padding-top:5px;margin-bottom:12px;}
    .link.compressed .title{margin-top:0;}
    .thing .title {color:#38acf1;font-weight:300;font-family:Helvetica, Arial, Sans;}
    .thing a.title:visited{color:#1d73a7!important;}
    .tagline {color:#3B4149;}
    .tagline a, .subreddit, .comment .author{color:#5bc0de;font-weight:normal;}    
    .tagline .friend {background:#D77766;color:#ffffff;border-radius:3px;padding:0 4px;}
    .domain a {color:#8EAFC6;}
    .entry .buttons li a{color:#7c8187;}
    .expando-button{opacity:.4;background:none;}
    .link.last-clicked{border:#45494d dashed 1px;}
    .flat-list.buttons li a{color:#45494d;}
    .flat-list li.selected a{color:#d77766;}
    .newComments{color:#d77766;}
    .redditSingleClick{color:#70757B;}
    .redditSingleClick:hover{color:#ffffff;}

	.id-t2_aj0tq {color: #e35dff !important;}
	.id-t2_aj0tq {color: #e35dff !important;}
    
    /* stickied */
    .thing.stickied a.title, .thing.stickied a.title:visited, .thing.stickied a.title.visited, .tagline .stickied-tagline {color:#618463;}
    
    /* link listing vote */
    .arrow.up, .arrow.down {opacity:.12;}
    .link .score {font-weight:normal;color:#888c91;}
    .link .rank {display:none}
        
    /* thumbnails */
    .thumbnail {border:#45494d solid 1px;border-radius:3px;}
    
    /* side */
    
    .side {background:#363b42;padding:5px;border-radius:6px;margin:5px;color:#70757b;}
    .login-form-side {border:#45494d 1px solid; border-radius:4px;}
    #search input[type="text"]{background:#D4D7DB;color:#888c91;border:none;}
    #search input[type="text"]:focus{background:#ffffff;color:#272b30;}    
    .login-form-side input[type="text"], .login-form-side input[type="password"]{background:#70757b;color:#abaeb2;border:none;}
    .login-form-side input[type="text"]:focus, .login-form-side input[type="password"]:focus{background:#ffffff;color:#3e4145;}
    button, html input[type="button"], input[type="reset"], input[type="submit"]{color: #57edfc;background: rgba(35,81,88,.35);text-shadow: 0 0 1px rgba(6,14,15,.95);letter-spacing: 1px;border:1px solid;border-color: #38acf1 #38acf1 #57edfc;transition: color .3s,border-color .3s,background .3s;font-weight: regular;position: relative;overflow: hidden;outline: 0!important;-webkit-transform: translateZ(0);transform: translateZ(0);border-radius: 3px;text-transform: capitalize;padding: 3px 12px;font-size: 11px;line-height: 1.42857143;}
    .titlebox h1 {font-size:22px;}
    .titlebox h1 a{color:#8eafc6;}
    .md{color:#888c91;}
    .md a{color:#8eafc6;}
    .md a:visited{color:#5f5365!important;}
    .morelink, .morelink:hover {background:#1f2125;border:#141719 solid 1px;border-radius:4px;box-shadow:0 1px 0 rgba(255,255,255,.2)inset;}
    .morelink:hover {background:#27292E;}
    .morelink .nub{display:none;}
    .morelink a{color:#d4d7db;font-weight:normal;letter-spacing: normal;font-size:14px;}
    .giftgold a,.gilded-link a{font-weight:normal;color:#FDE379;}
    .goldvertisement .inner{background:#fcf2b4;}
    .gadget small{color:#70757B}
    .gadget a{color:#888c91;}
    .gadget a.reddit-comment-link {color:#fff;}
    .sidebox .spacer {background:#70757b;}
    .sidebox .subtitle{color:#B7BBC0;}
    .sidecontentbox .content{background:#272b30; border:none;}
    
    /* tags, stamps, flairs */
    .nsfw-stamp acronym {font-size:8px;border:#45494d 1px solid!important;background:#1f2125;color:#B17272;}
    .flair {font-size:9px;}
    .flair, .linkflairlabel{background:#dac46a;border:#fde379 1px solid;color:#826F21;opacity:.75}
    .flair:hover, .linkflairlabel:hover{opacity:1;cursor:default;
       -webkit-transition: opacity .35s ease-in-out;
       -moz-transition: opacity .35s ease-in-out;
       -ms-transition: opacity .35s ease-in-out;
       -o-transition: opacity .35s ease-in-out;
       transition: opacity .35s ease-in-out;
    }
    .linkflairlabel{font-family:Verdana,Helvetica,Arial,Sans;font-size:8px}
    
    /* Buttons */
    .nav-buttons { background:#32373d;padding:10px;}
    .nextprev, .next-suggestions{margin:0 10px;}
    .nextprev a, .next-suggestions a {background:#1f2125;border:#141719 solid 1px;border-radius:4px;box-shadow:0 1px 0 rgba(255,255,255,.2)inset;color:#d4d7db;font-weight:normal;padding:2px 10px;}
    .nextprev a:hover, .next-suggestions a:hover{background:#272b30;border:#141719 solid 1px;border-radius:4px;box-shadow:0 1px 0 rgba(255,255,255,.2)inset;color:#d4d7db;font-weight:normal;padding:2px 10px;}
    .next-suggestions{float:right;}
    
    /* Footer */
    .footer-parent{margin:0;padding:0;background:none;}
    .footer{border:none; background:#32373d;}
    .footer .col {border-left:#45494d 1px solid;}
    .flat-vert.title{color:#888c91; font-weight:normal;font-size:16px;}
    .bottommenu .updated {color:#7D9F7E;}
    .bottommenu{color:#70757b;}    
    
    /* Grippy Side */
    body.with-listing-chooser .listing-chooser.initialized .contents{position:fixed;}
    body.with-listing-chooser.listing-chooser-collapsed .contents{display:none;}    
    body.with-listing-chooser .listing-chooser .grippy {background:#272b30;}
    body.with-listing-chooser.listing-chooser-collapsed .listing-chooser .grippy:after {border:#1f2125 1px solid;}
    body.with-listing-chooser .listing-chooser .grippy{border-left:#1f2125 1px solid;}
    body.with-listing-chooser .listing-chooser .grippy:hover:after{background:#363b42;}
    body.with-listing-chooser .listing-chooser .grippy:after{border-right:#1f2125 1px solid;}    
    body.with-listing-chooser .listing-chooser{background:#363b42;}
    .listing-chooser .intro{background:#70757b;color:#d4d7db;border-color:#272b30;}
    .listing-chooser li{background:#272b30;border:none;}
    .listing-chooser li.selected{background:#d4d7db;}
    .listing-chooser li.selected a span {color:#363b42;}
    .listing-chooser li.selected a:hover{color:#5c91ba!important;}
    
    /* infobar */
    .infobar {border:none;border-radius:4px;}
    .infobar .md{color:#826F21;}
    .infobar .md a{color:#DD6148;}
    
    /*==========================
     SUBMITTING NEW
    ===========================*/    
    .tabmenu li.selected a{color:#d4d7db!important;font-size:12px!important;}
    .tabmenu.formtab .selected a {background:#4e6c80;}
    .formtabs-content{border-top:#4e6c80 4px solid;}
    .content.submit .info-notice{background-color:#22262a;border:#344a4a 1px solid;}
    
    /*==========================
     COMMENTS VIEW
    ===========================*/
    .link .usertext .md {background:transparent;border:none;padding:15px 0;}
    .comment .child, .comment .showreplies{border-left:#363b42 1px dotted;}
    .morecomments a {background:#363b42;color:#70757b;padding: 0 4px; border-radius:3px;font-weight:normal!important;;}
    .tagline .submitter{color:#FFFFFF;}
    .thing .tagline .author.friend{background-color:#d77766!important;}
    .thing .tagline .author.admin{background:#A22F2F!important;}
    .tagline .admin{color:#A22F2F;}
    .tagline .moderator, .green {color:#618463;}
    .tagline .score{color:#9E7B5C;}
    .tagline .score.likes,.tagline .score.dislikes{ }
    a.voteWeight{background-color:#618463!important;color:#c2d0d9!important;border-radius:3px;padding:0 2px;}
    
    .drop-choices a.choice:hover{background:#70757b;}
    
    .linkinfo{background:#1f2125;border:none;padding:10px;text-align: center;}
    .linkinfo .score .number{color:#ffffff;}
    .linkinfo .score {color:#d4d7db;margin:5px;}
    .linkinfo .score .word{color:#70757b;}
    .linkinfo .shortlink input {background:#363b42;border:none;color:#d4d7db;margin:5px ;}
    
    .fancy-toggle-button .remove{background:#B17272;}
    .fancy-toggle-button .add{background:#618463;}
    .fancy-toggle-button .add:hover{background:#7D9F7E!important;color:#ffffff!important;;}
    
    .titlebox form.toggle, .leavemoderator{background:#7D9F9B;padding:5px;color:#ffffff}
    table td,table th {border-color:#45494d!important;}
    .side .md .-text, .side .md p, .side .md pre > code, .side .md th, .side .md td, .side .md li{line-height:1.4em }
    .md hr{background:#45494d;}
    .side .md h1, .side .md h2{color:#d4d7db;font-size:16px;}
    .md h6{text-decoration: none;}
    .md blockquote{border-left:#4E6C80 4px solid;color:#6086A0;background:#2a3037;}  
    .md blockquote del{color:#4e6c80;}
    .deepthread a{color:#dac46a;}
    .deepthread:after{background:none;color:#dac46a}
    .deepthread::after{content:"›››";}    
    .md code, .md pre{background:#323536;border:none;border-left:#686353 4px solid;border-radius:0;color:#A09877} 
    .error{color:#b17272;}
    /* Explore */
    .explore-header{color:#7D9F9B;}
    .explore-label {border-radius:2px!important;border:none!important;font-size:10px;opacity:.5}
    .explore-label:hover{
       -webkit-transition: opacity .35s ease-in-out;
       -moz-transition: opacity .35s ease-in-out;
       -ms-transition: opacity .35s ease-in-out;
       -o-transition: opacity .35s ease-in-out;
       transition: opacity .35s ease-in-out;
        opacity:1;
    }
    .usertext.grayed .usertext-body{background-color:#363b42;border-radius:3px;}
    
    
    .explore-label a.explore-label-link:hover{color:#4090E0!important;}
    .explore-comment .comment-fade{
        background: -moz-linear-gradient(top,  rgba(39,43,48,0) 1%, rgba(39,43,48,1) 100%); /* FF3.6+ */
        background: -webkit-linear-gradient(top,  rgba(39,43,48,0) 1%,rgba(39,43,48,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(39,43,48,0) 1%,rgba(39,43,48,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(39,43,48,0) 1%,rgba(39,43,48,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(39,43,48,0) 1%,rgba(39,43,48,1) 100%); /* W3C */
    }    
    .explore-comment .comment{border-color:#45494D}
    .explore-item .explore-feedback-dismiss{background-color:#DEDEDE;border-radius:2px;}
    .explore-item .explore-feedback .fancy-toggle-button .add, .explore-item .explore-feedback .fancy-toggle-button .remove{border-color:#5F6265;color:#5F6265;}
    
