.link .usertext .md {
    background: transparent;
    border: none;
    padding: 15px 0;
}

.comment .child,
.comment .showreplies {
    border-left: #363b42 1px dotted;
}

.morecomments a {
    background: #363b42;
    color: #70757b;
    padding: 0 4px;
    border-radius: 3px;
    font-weight: normal !important;
}

.tagline .submitter { color: #FFFFFF; }

.thing .tagline {
    .author {
        .friend { background-color: #d77766 !important; }
        .admin { background: #A22F2F !important; }
    }

    .admin { color: #A22F2F; }
    .moderator { color: #618463; }
    .score { color: #9e7b5c; }
}

a.voteWeight {
    background-color: #618463 !important;
    color: #c2d0d9 !important;
    border-radius: 3px;
    padding: 0 2px;
}

.drop-choices a.choice:hover { background: #70757b; }

.linkinfo {
    background: #1f2125;
    border: none;
    padding: 10px;
    text-align: center;

    .score {
        color: #d4d7db;
        margin: 5px;

        .number { color: #ffffff; }
        .word { color: #70757b; }
    }

    .shortlink input {
       background: #363b42;
       border: none;
       color: #d4d7db;
       margin: 5px;
    }
}

.fancy-toggle-button {
    .remove { background: #B17272; }
    .add {
        background: #618463;
        &:hover {
            background: #7D9F7E !important;
            color: #ffffff !important;
        }
    }
}

.titlebox form.toggle,
.leavemoderator {
    background: #7D9F9B;
    padding: 5px;
    color: #ffffff;
}

table {
    td,
    th {
        border-color: #45494d !important;
    }
}


.side .md {
    h1, h2 {
        color: #d4d7db;
        font-size: 16px;
    }

    .-text,
    p,
    pre > code,
    th,
    td,
    li {
        line-height: 1.4em;
    }
}

.md {
    hr { background: #45494d; }
    h6 { text-decoration: none; }
    blockquote {
        border-left: #4e6c80 4px solid;
        color: #6086A0;
        background: #2a3037;

        del { color: #4e6c80; }
    }

    code,
    pre {
        background: #323536;
        border: none;
        border-left: #686353 4px solid;
        border-radius: 0;
        color: #A09877;
    }
}

.deepthread {
    a { color: #dac46a; }
    &:after {
        background: none;
        color: #dac46a;
    }

    &::after {
        content: "›››";
    }
}

.error { color: #b17272; }


.explore-header {
    color: #7D9F9B;
}

.explore-label {
    border-radius: 2px !important;
    border: none !important;
    font-size: 10px;
    opacity: .5;

    &:hover {
        -webkit-transition: opacity .35s ease-in-out;
        -moz-transition: opacity .35s ease-in-out;
        -ms-transition: opacity .35s ease-in-out;
        -o-transition: opacity .35s ease-in-out;
        transition: opacity .35s ease-in-out;

        opacity:1;
    }

    a.explore-label-link:hover { color: #4090E0 !important; }
}

.explore-comment {
    .comment { border-color: #45494D; }

    .comment-fade {
        background: -moz-linear-gradient(top,  rgba(39,43,48,0) 1%, rgba(39,43,48,1) 100%); /* FF3.6+ */
        background: -webkit-linear-gradient(top,  rgba(39,43,48,0) 1%,rgba(39,43,48,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(39,43,48,0) 1%,rgba(39,43,48,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(39,43,48,0) 1%,rgba(39,43,48,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(39,43,48,0) 1%,rgba(39,43,48,1) 100%); /* W3C */
    }    
}

.explore-item {
    .explore-feedback-dismiss {
        background-color: #DEDEDE;
        border-radius: 2px;
    }

    .explore-feedback {
        .fancy-toggle-button .add,
        .explore-item .explore-feedback .fancy-toggle-button .remove {
            border-color: #5F6265;
            color: #5F6265;
        }
    }
}

.usertext.grayed .usertext-body {
    background-color: #363b42;
    border-radius: 3px;
}
