.tabmenu li.selected a {
    color: #d4d7db !important;
    font-size: 12px !important;
}

.content.submit .info-notice {
    background-color: #22262a;
    border:#344a4a 1px solid;
}

.tabmenu.formtab .selected a { background:#4e6c80; }
.formtabs-content { border-top: #4e6c80 4px solid; }
